@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AVR</h1>
    <p>Building a Web apps with ASP.NET Core with Udemy tutorial.</p>
</div>
